import React from 'react'

import './{{properCase name}}.scss'

export interface {{properCase name}}Props {
  children?: React.ReactNode
}

const {{properCase name}}: React.FC<{{properCase name}}Props> = ({ children }) => {

  return (
    <div className="dse-{{dashCase name}}">
      {children}
    </div>
  )
}

export default {{properCase name}}